<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Mario Testing">
    <listeners>
        <listener class-name="main.utils.SuiteListener"></listener>
    </listeners>
    <test name="Mario Nyoba">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="test.java.TestingHome"></class>
        </classes>
    </test>
</suite>